<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Seccion de los estilos de fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!--secccion de estilos de fontawesome-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!--seccion de estilos de bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--seccion de estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--seccion de estilos de barra de carga de pagina-->
    <script src="/js/pace.min.js"></script>
    <link href="/css/pace-theme-flash.css" rel="stylesheet" />
    <!--seccion de icono pagina-->
    <link rel="shortcut icon" href="/img/favicon_0.png" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!--titulo-->
    <%- include('partials/title'); -%>
</head>

<body>
    <div class="container  ">

        <div id="divPadre1">
            <div class="row row-cols-1 row-cols-md-3 ">

                <% results.forEach((noticias )=>{ %>

                    <!-- Comienza Card noticia 1 -->
                    <div class="col">
                        <div class="contenedor">
                            <div class="responsive">
                                <a href="/details/<%= noticias.id %>">
                                    <img src="/uploads/FOTO BOLETÍN 2761 INJUDET 10092021.WebP" class="card-img-top"
                                        alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="card-body  ">

                            <%= noticias.id %>
                                <button type="button" class="btn btn-sm "
                                    style="background-color: rgba(179,142,93,255)">
                                    <a class="text-white" style="text-decoration:none" href="#"> Publico general |
                                        <%= noticias.category %>
                                    </a>
                                </button>
                                <h5 class="card-title ">
                                    <a style="text-decoration:none" href="/details/<%= noticias.id %>">
                                        <%= noticias.title %>
                                    </a>
                                </h5>
                        </div>
                    </div>
                    <!-- Termina Card noticia 1 -->

                    <% }) %>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--Scrip para el cargar más -->
    <script src="/js/ver-mas.js"></script>
    <!--script para el funcionamiento del multilenguaje-->
    <script src="/js/script.js"></script>
    <!--script para le funcinamiento de los iconos de fontawesome-->
    <script src="https://kit.fontawesome.com/ccf41397b0.js" crossorigin="anonymous"></script>
    <!--scrip para optimar tiempo de carga de la pagina-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>